{% extends "base.html" %}
{% block title %}Новый приватный тред{% endblock %}
{% block content %}
<h1>Создать приватный тред</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>{{ form.title.label }}<br>{{ form.title(size=80) }}</p>
    <p>{{ form.invited_users.label }}<br>{{ form.invited_users(size=80) }}<br><small>Уникальные имена через запятую</small></p>
    <p>{{ form.content.label }}<br>{{ form.content(cols=80, rows=10) }}</p>
    <p>{{ form.media.label }} {{ form.media() }}</p>
    <p><input type="submit" value="Создать"></p>
</form>
{% endblock %}
