{% extends "base.html" %}
{% block title %}Добавить доску{% endblock %}
{% block content %}
<h1>Добавить доску</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.name.label }} {{ form.name(size=40) }}</p>
    <p>{{ form.description.label }} {{ form.description(size=80) }}</p>
    <p>{{ form.is_anonymous() }} {{ form.is_anonymous.label }}</p>
    <p>{{ form.moderator_id.label }} {{ form.moderator_id() }}</p>
    <p><input type="submit" value="Создать"></p>
</form>
{% endblock %}
