{% extends "base.html" %}
{% block title %}Пользователи{% endblock %}
{% block content %}
<h1>Управление пользователями</h1>
<table border="1">
     <tr>
        <th>ID</th>
        <th>Отображаемое имя</th>
        <th>Уникальное имя</th>
        <th>Email</th>
        <th>Дата рождения</th>
        <th>Админ</th>
        <th>Модератор</th>
        <th>Бан</th>
        <th>Действия</th>
      </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.display_name }}</td>
        <td>{{ user.unique_username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_of_birth.strftime('%Y-%m-%d') }}</td>
        <td>{{ user.is_admin }}</td>
        <td>{{ user.is_moderator }}</td>
        <td>{{ user.is_banned }}</td>
        <td>
            <a href="{{ url_for('admin.edit_user', user_id=user.id) }}">Редактировать</a>
            <a href="{{ url_for('admin.delete_user', user_id=user.id) }}" onclick="return confirm('Удалить?')">Удалить</a>
        </td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
